@font-face {
    font-family: "BdeBonita";
    src: url("/fonts/BdeBonita.ttf");
}

@font-face {
    font-family: "BensenMarryRose";
    src: url("/fonts/BensenMarryRose.ttf");
}

@font-face {
    font-family: "BethEllen";
    src: url("/fonts/BethEllen.ttf");
}

@font-face {
    font-family: "Bienchen";
    src: url("/fonts/Bienchen.ttf");
}

@font-face {
    font-family: "Digitwo";
    src: url("/fonts/Digitwo.ttf");
}

@font-face {
    font-family: "Disciplui";
    src: url("/fonts/Disciplui.ttf");
}

@font-face {
    font-family: "EngineerHand";
    src: url("/fonts/EngineerHand.ttf");
}

@font-face {
    font-family: "EvasdigiScript";
    src: url("/fonts/EvasdigiScript.ttf");
}

@font-face {
    font-family: "FabelScript";
    src: url("/fonts/FabelScript.ttf");
}

@font-face {
    font-family: "Farewell";
    src: url("/fonts/Farewell.ttf");
}

@font-face {
    font-family: "Fathia";
    src: url("/fonts/Fathia.ttf");
}

@font-face {
    font-family: "Gruenewald";
    src: url("/fonts/Gruenewald.ttf");
}

@font-face {
    font-family: "Halogen";
    src: url("/fonts/Halogen.ttf");
}

@font-face {
    font-family: "ImransSchool";
    src: url("/fonts/ImransSchool.ttf");
}

@font-face {
    font-family: "Junkyard";
    src: url("/fonts/Junkyard.ttf");
}

@font-face {
    font-family: "Kalam";
    src: url("/fonts/Kalam.ttf");
}

@font-face {
    font-family: "KidsDrawing";
    src: url("/fonts/KidsDrawing.ttf");
}

@font-face {
    font-family: "LoftyGoals";
    src: url("/fonts/LoftyGoals.otf");
}

@font-face {
    font-family: "MacromediaFontgrapher";
    src: url("/fonts/MacromediaFontgrapher.ttf");
}

@font-face {
    font-family: "Outlines";
    src: url("/fonts/Outlines.ttf");
}

@font-face {
    font-family: "PeaxHandwriting";
    src: url("/fonts/PeaxHandwriting.ttf");
}

@font-face {
    font-family: "SchoolTeacher";
    src: url("/fonts/SchoolTeacher.ttf");
}

@font-face {
    font-family: "Tball";
    src: url("/fonts/Tball.ttf");
}

@font-face {
    font-family: "Thi";
    src: url("/fonts/Thi.ttf");
}

@font-face {
    font-family: "Tomatoes";
    src: url("/fonts/Tomatoes.ttf");
}

@font-face {
    font-family: "Tudy1311";
    src: url("/fonts/Tudy1311.ttf");
}

@font-face {
    font-family: "Vibur";
    src: url("/fonts/Vibur.ttf");
}

@font-face {
    font-family: "Xiomara";
    src: url("/fonts/Xiomara.ttf");
}
