@font-face {
    font-family: "BdeBonita";
    src: url("https://cdn.jsdelivr.net/gh/Wikipedifgffg/handwriting-fonts@main/fonts/BdeBonita.ttf");
}

@font-face {
    font-family: "BensenMarryRose";
    src: url("https://cdn.jsdelivr.net/gh/Wikipedifgffg/handwriting-fonts@main/fonts/BensenMarryRose.ttf");
}

@font-face {
    font-family: "BethEllen";
    src: url("https://cdn.jsdelivr.net/gh/Wikipedifgffg/handwriting-fonts@main/fonts/BethEllen.ttf");
}

@font-face {
    font-family: "Bienchen";
    src: url("https://cdn.jsdelivr.net/gh/Wikipedifgffg/handwriting-fonts@main/fonts/Bienchen.ttf");
}

@font-face {
    font-family: "Digitwo";
    src: url("https://cdn.jsdelivr.net/gh/Wikipedifgffg/handwriting-fonts@main/fonts/Digitwo.ttf");
}

@font-face {
    font-family: "Disciplui";
    src: url("https://cdn.jsdelivr.net/gh/Wikipedifgffg/handwriting-fonts@main/fonts/Disciplui.ttf");
}

@font-face {
    font-family: "EngineerHand";
    src: url("https://cdn.jsdelivr.net/gh/Wikipedifgffg/handwriting-fonts@main/fonts/EngineerHand.ttf");
}

@font-face {
    font-family: "EvasdigiScript";
    src: url("https://cdn.jsdelivr.net/gh/Wikipedifgffg/handwriting-fonts@main/fonts/EvasdigiScript.ttf");
}

@font-face {
    font-family: "FabelScript";
    src: url("https://cdn.jsdelivr.net/gh/Wikipedifgffg/handwriting-fonts@main/fonts/FabelScript.ttf");
}

@font-face {
    font-family: "Farewell";
    src: url("https://cdn.jsdelivr.net/gh/Wikipedifgffg/handwriting-fonts@main/fonts/Farewell.ttf");
}

@font-face {
    font-family: "Fathia";
    src: url("https://cdn.jsdelivr.net/gh/Wikipedifgffg/handwriting-fonts@main/fonts/Fathia.ttf");
}

@font-face {
    font-family: "Gruenewald";
    src: url("https://cdn.jsdelivr.net/gh/Wikipedifgffg/handwriting-fonts@main/fonts/Gruenewald.ttf");
}

@font-face {
    font-family: "Halogen";
    src: url("https://cdn.jsdelivr.net/gh/Wikipedifgffg/handwriting-fonts@main/fonts/Halogen.ttf");
}

@font-face {
    font-family: "ImransSchool";
    src: url("https://cdn.jsdelivr.net/gh/Wikipedifgffg/handwriting-fonts@main/fonts/ImransSchool.ttf");
}

@font-face {
    font-family: "Junkyard";
    src: url("https://cdn.jsdelivr.net/gh/Wikipedifgffg/handwriting-fonts@main/fonts/Junkyard.ttf");
}

@font-face {
    font-family: "Kalam";
    src: url("https://cdn.jsdelivr.net/gh/Wikipedifgffg/handwriting-fonts@main/fonts/Kalam.ttf");
}

@font-face {
    font-family: "KidsDrawing";
    src: url("https://cdn.jsdelivr.net/gh/Wikipedifgffg/handwriting-fonts@main/fonts/KidsDrawing.ttf");
}

@font-face {
    font-family: "LoftyGoals";
    src: url("https://cdn.jsdelivr.net/gh/Wikipedifgffg/handwriting-fonts@main/fonts/LoftyGoals.otf");
}

@font-face {
    font-family: "MacromediaFontgrapher";
    src: url("https://cdn.jsdelivr.net/gh/Wikipedifgffg/handwriting-fonts@main/fonts/MacromediaFontgrapher.ttf");
}

@font-face {
    font-family: "Outlines";
    src: url("https://cdn.jsdelivr.net/gh/Wikipedifgffg/handwriting-fonts@main/fonts/Outlines.ttf");
}

@font-face {
    font-family: "PeaxHandwriting";
    src: url("https://cdn.jsdelivr.net/gh/Wikipedifgffg/handwriting-fonts@main/fonts/PeaxHandwriting.ttf");
}

@font-face {
    font-family: "SchoolTeacher";
    src: url("https://cdn.jsdelivr.net/gh/Wikipedifgffg/handwriting-fonts@main/fonts/SchoolTeacher.ttf");
}

@font-face {
    font-family: "Tball";
    src: url("https://cdn.jsdelivr.net/gh/Wikipedifgffg/handwriting-fonts@main/fonts/Tball.ttf");
}

@font-face {
    font-family: "Thi";
    src: url("https://cdn.jsdelivr.net/gh/Wikipedifgffg/handwriting-fonts@main/fonts/Thi.ttf");
}

@font-face {
    font-family: "Tomatoes";
    src: url("https://cdn.jsdelivr.net/gh/Wikipedifgffg/handwriting-fonts@main/fonts/Tomatoes.ttf");
}

@font-face {
    font-family: "Tudy1311";
    src: url("https://cdn.jsdelivr.net/gh/Wikipedifgffg/handwriting-fonts@main/fonts/Tudy1311.ttf");
}

@font-face {
    font-family: "Vibur";
    src: url("https://cdn.jsdelivr.net/gh/Wikipedifgffg/handwriting-fonts@main/fonts/Vibur.ttf");
}

@font-face {
    font-family: "Xiomara";
    src: url("https://cdn.jsdelivr.net/gh/Wikipedifgffg/handwriting-fonts@main/fonts/Xiomara.ttf");
}
